<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BudgetBros</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    
    <form action="/login" method="post" id="login">
      <input type="text" name="email" id="email" class="login-form-field" placeholder="Email">
      <input type="password" name="password" id="password" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit"><br>
    </form>
    <a href="/" class="home-button">Go back to the home page</a>
  
  </main>
</body>

</html>
