<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #008374; /* Green background */
      color: #000000; /* Black text */
      margin: 0;
      padding: 20px;
    }
    label {
      display: block;
      font-weight: bold;
      font-size: 25px;
      color: #FFFFFF;
    }
    table {
      width: 100%;
      background-color: #FFFFFF; /* White background */
      border: 1px solid #000000; /* Black border */
      border-collapse: collapse;
    }
    th {
      background-color: #00ae99; /* Light green */
      color: #FFFFFF; /* White text */
      text-align: left;
      padding: 8px;
    }
    td {
      padding: 8px;
    }

      a {
    color: #FF6347; /* Golden color for the link */
    text-decoration: none; /* Remove underline by default */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
    font-weight: bold; /* Make the text bold */
  }

  /* Change color on hover */
  a:hover {
    color: #FFD700; /* Change to a slightly different shade on hover */
  }

  /* Change color when active (while clicking) */
  a:active {
    color: #FFD700; /* Change to a different color when clicked */
  }
  </style>
</head>
<body>
   <a href="/">Go back to home</a>


  <br><br><br>
  <label><b>User Information:</b></label>

  <br>

  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% for (let iCount = 0; iCount < myuser.length; iCount++) { %>
        <tr>
          <td><%= myuser[iCount].transaction_category %></td>
          <td><%= myuser[iCount].amount %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>
