<style>
  /* Body styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: white;
}

/* Header styles */
#header {
  background-color: green;
  color: black;
  padding: 10px 0;
}

/* Logo styles */
.logo {
  margin-left: 20px;
}

/* Top left button styles */
.return-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
}

/* Hover effect for the button */
.return-btn:hover {
  background-color: black;
  color: white;
}

/* Services section styles */
.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 2em;
}

.section-header img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  display: block;
}

/* Service items styles */
.service-item {
  padding: 30px;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.service-item h3 {
  margin-top: 20px;
  font-size: 1.5em;
}

.service-item p {
  font-size: 1.1em;
}

/* Footer styles */
#footer {
  background-color: green;
  color: black;
  padding: 40px 0;
  margin-top: 50px;
}

/* Social links styles */
.social-links a {
  font-size: 1.5em;
  margin-right: 15px;
  color: black;
}

/* Scroll top button styles */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
}

/* Hover effect for the scroll top button */
.scroll-top:hover {
  background-color: black;
  color: white;
}

</style>

<body>
<label><b>User Information:</b></label>
<br><br>
<table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
  <thead style="background-color: cornflowerblue; color: white;">
    <tr>
      <th style="text-align: left;">Type</th>
      <th style="text-align: left;">Amount</th>
    </tr>
  </thead>
  <tbody style="font-family: Arial; font-size: 9pt;">
   <% for (let iCount = 0; iCount < myuser.length; iCount++) { %>
      <tr>
        <td><%= myuser[iCount].transaction_category %></td>
        <td><%= myuser[iCount].amount %></td>
      </tr>
   <% } %>
  </body>